<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>Pollution Map</title>

    <link rel="stylesheet" href="statics/css/maps.css" />
  </head>

  <body>
    <!-- Navigation -->
    <nav>
      <h2 class="logo">Waste Tracker</h2>

      <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="map.html">Pollution Map</a></li>
      </ul>
    </nav>

    <!-- Page Title -->
    <h1 class="title">Pollution Map of Kenya</h1>

    <!-- Map Section -->
    <div class="map-container">
      <iframe src="https://www.google.com/maps?q=Nairobi&output=embed">
      </iframe>
    </div>
  </body>
</html>
